@import '~/styles/theme';
@import '~/styles/mixins';

.header {
    background: $jcastanza-primary-color;
    color: $jcastanza-accent-color;
    padding: 15px;
    overflow: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.siteName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
    @include breakpoint('mobile') {
        margin-bottom: 50px;
        font-size: 2rem;
    }
}

.ellipsis {
    font-size: 4rem;
    @include breakpoint('mobile') {
        display: none;
    }
    &:hover {
        cursor: default;
    }
}

.tagline {
    opacity: 0.8;
}