@import '~/styles/mixins';

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include breakpoint('tablet') {
        height: 75%;
        flex-wrap: nowrap;
    }
}

.article {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 700px;

    p {
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: normal;
        color: #333;
    }
}

.scripture {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    border-top: 1px solid #eee;
    font-style: italic;
    width: 100%;
    @include breakpoint('widescreen') {
        position: absolute;
        bottom: 0;
    }
}

.photo {
    border-radius: 100%;
    display: flex;
    flex: 0 0 300px;
    height: 300px;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    width: 300px;
    max-width: 100%;
    margin: 30px auto;
    @include breakpoint('tablet') {
        margin: 0 0 0 50px;
        flex: 0 0 350px;
        height: 350px;
        width: 350px;
    }
    @include breakpoint('desktop') {
        flex: 0 0 400px;
        height: 400px;
        width: 400px;
    }
    img {
        height: 100%;
        margin-right: -75px;
    }
}