@import '~/styles/mixins';

.container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    @include breakpoint('desktop') {
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.terminal {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    p {
        margin-top: 0;
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: normal;
        color: #333;
    }
    @include breakpoint('desktop') {
        padding-left: 50px;
    }
}

.sidebar {
    max-width: 350px;
    margin: 30px auto;
    .commandList {
        font-size: 0.8rem !important;
    }
    @include breakpoint('desktop') {
        margin: 30px 0 0;
    }
}

.command {
    color: #fff;
}

.separator {
    background: #777;
    width: 100%;
    height: 1px;
    display: block;
    margin: 10px 3px;
    max-width: 500px;
}