@import "~/styles/mixins";
@import "~/styles/theme";

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    @include breakpoint('mobile') {
        flex-direction: column;
    }
    @include breakpoint('desktop') {
        justify-content: space-between;
    }
}

.card {
    width: 100%;
    margin-bottom: 30px;
    background-color: #eee;
    border: 1px solid $jcastanza-primary-color;
    border-radius: 10px;
    max-width: 350px;
    @include breakpoint('fablet') {
        width: calc(50% - 15px);
    }
    @include breakpoint('mobile') {
        width: 100%;
        margin: 0 auto 30px;
    }
    @include breakpoint('tablet') {
        width: calc(50% - 15px);
    }
    @media (min-width: 576px) and (max-width: 991px) {
        margin-right: 15px;
        &:nth-child(2n) {
            margin-right: 15px;
        }
    }
    @include breakpoint('desktop') {
        width: calc(33.3333% - 15px);
        margin-right: 15px;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    img {
        display: flex;
        width: 200px;
        overflow: hidden;
        padding: 30px;
        background-color: #fff;
        margin: auto;
    }
}

.cardHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: #fff;
    border-bottom: 15px solid $jcastanza-primary-color;
    border-radius: 10px;
}

.list {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    font-weight: 400;

    li {
        margin-bottom: 5px;
    }
}