@import '~/styles/theme';

.pageHeader {
    background: $jcastanza-primary-color;
    color: $jcastanza-accent-color;
    height: 50px;
    overflow-y: scroll;
}

.container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-right: 15px;
}

.siteName {
    font-weight: bold;
    font-size: 1.25rem;
    margin-right: 50px;
}

