@import '~/styles/theme';

.navigation {
    overflow-x: scroll;
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1.25rem;
    }
    li {
        margin-right: 30px;
    }
}

