@import '~/styles/theme';
@import '~/styles/mixins';

.footer {
    background: $jcastanza-secondary-color;
    color: $jcastanza-accent-color;
    padding: 30px 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    @include breakpoint('tablet') {
        flex-direction: row;
    }

    span {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }
}

