@import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';
@import 'mixins';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include breakpoint('desktop') {
    max-width: 992px;
  }
  @include breakpoint('widescreen') {
    max-width: 1200px;
  }
}

.pageHeader {
  width: 100%;
  h1 {
    display: block;
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 30px;
    @include breakpoint('desktop') {
      font-size: 2.5rem;
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
  h2 {
    display: block;
    margin-top: -45px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
  }
  p {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: normal;
    color: #333;
  }
}

.terminal .p-terminal {
  border-radius: 10px;
  background-color: #212121;
  color: #fff;
  height: calc(40vh - 100px);
  margin-bottom: 30px;
}
.terminal .p-terminal .p-terminal-command {
  color: #80cbc4;
}
.terminal .p-terminal .p-terminal-prompt {
  color: #ffd54f;
}
.terminal .p-terminal .p-terminal-response {
  color: #9fa8da;
}
.p-card-body {
  padding: 30px !important;
}
.p-card-title {
  font-size: 1.25rem !important;
  @include breakpoint('widescreen') {
    font-size: 1.5rem !important;
  }
}