@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin animation($name, $xFrom, $yFrom, $xTo, $yTo) {
    @keyframes #{$name} {
      0% {transform: translate3d($xFrom, $yFrom, 0); opacity: 0;}
      100% {transform: translate3d($xTo, $yTo, 0); opacity: 1;}
    }
}
  
@mixin breakpoint($class) {
    @if $class == mobile {
      @media (max-width: 575px) { @content; }
    }
    
    @else if $class == fablet {
      @media (max-width: 767px) { @content; }
    }
   
    @else if $class == tablet {
      @media (min-width: 768px) { @content; }
    }
   
    @else if $class == desktop {
      @media (min-width: 992px) { @content; }
    }
   
    @else if $class == widescreen {
      @media (min-width: 1200px) { @content; }
    }
   
    @else {
      @warn "Breakpoint mixin supports: mobile, fablet, tablet, desktop, widescreen";
    }
}

@mixin placeholder {
    &.placeholder { @content }
    &:-moz-placeholder { @content }
    &::-webkit-input-placeholder { @content }
}